# Technical Takehome for ID.Me

**Instructions**: The narrative below presents a hypothetical situation where you are an analytics engineer at a SAAS startup and poses some scenarios in a chronological order. Use your previous work experience and judgment to augment the details provided. Build your own narrative around the fictional SAAS company and your role there, and then detail how you would build an analytics foundation that solves their data needs.

Answers do not need to be isolated to the immediate preceding prompt; you may use previously given information as well as context from your previous answers.

DogDB is a California based company that has developed a novel NoCATS database and offers a managed, hosted solution as a monthly SAAS subscription with free, medium (`$50/mo`), and enterprise tiers (`$500/mo`). DogDB is seeing their number of customer accounts skyrocket (“up and to the right”) and have hired you as the first dedicated analytics engineer to help them understand and scale their data capabilities, in anticipation of an incipient funding round.

DogDB sells their service through a web-facing rails application. Here, a DogDB customer can sign up for an account, choose a pricing tier, and configure their NoCATS deployment. The accounting settings and configurations are stored in a PostgreSQL database.

In [82]:
# Python Packages for SQL ALchemy, PostgreSQL, yaml
import sqlalchemy
import psycopg2 
import yaml
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [101]:
# Connecting to PostgreSQL database with Credentials found in Config File
with open("..//Credentials/config.yml", 'r') as ymlfile:
    cfg = yaml.safe_load(ymlfile)
    
username = cfg['postgresql_creds']['username']
password = cfg['postgresql_creds']['password']

connection = f'postgresql://{username}:{password}@localhost:5432/dogdb'

engine = sqlalchemy.create_engine(connection)
%sql $engine.url

'Connected: postgres@dogdb'

In [102]:
%sql select * from customer_accounts

 * postgresql://postgres:***@localhost:5432/dogdb
3 rows affected.

[(Decimal('1'), 'abc@123.com', 'Free', datetime.datetime(2019, 5, 1, 21, 13, 5, 156042), datetime.datetime(2019, 5, 1, 21, 13, 11, 804514)),
 (Decimal('2'), '123@abc.com', 'Medium', datetime.datetime(2019, 7, 12, 16, 5, 2, 414454), datetime.datetime(2020, 1, 4, 17, 23, 5, 594305)),
 (Decimal('3'), 'hello@world.com', 'Enterprise', datetime.datetime(2019, 7, 23, 12, 26, 47, 571431), datetime.datetime(2019, 9, 17, 4, 32, 32, 493065))]

In [40]:
%sql select * from customer_interactions

 * postgresql://postgres:***@localhost:5432/dogdb
4 rows affected.

[(Decimal('1'), 'web', 'Tech Support', 'Andy', 'resolved', datetime.datetime(2021, 1, 25, 19, 11, 35, 295813), datetime.datetime(2021, 1, 25, 19, 13, 52, 812371)),
 (Decimal('1'), 'email', 'Billing', 'Jillian', 'open', datetime.datetime(2021, 4, 6, 22, 23, 9, 581234), None),
 (Decimal('3'), 'web', 'Billing', 'Monica', 'resolved', datetime.datetime(2021, 11, 13, 6, 25, 54, 821374), datetime.datetime(2021, 11, 15, 12, 19, 33, 882136)),
 (Decimal('7'), 'phone', 'Account Change', 'Derek', 'canceled', datetime.datetime(2022, 2, 14, 15, 2, 47, 219352), datetime.datetime(2022, 2, 20, 9, 22, 48, 145523))]

In [35]:
%sql select * from customer_licenses

 * postgresql://postgres:***@localhost:5432/dogdb
4 rows affected.

[(Decimal('1'), '{“license_id”:“d17cb11cda9ba249c22f67e4aed65d0f65f1a80c”,“role”: “analyst”,“status”: “active”}', datetime.datetime(2022, 3, 12, 2, 56, 37, 652093), datetime.datetime(2022, 3, 12, 2, 56, 37, 652093)),
 (Decimal('6'), '{“license_id”:“be49ad8f4a68fbbdd1674b41da20759f54b0e930”,“role”: “developer”,“status”: “active”}', datetime.datetime(2021, 5, 28, 4, 42, 58, 955093), datetime.datetime(2021, 5, 28, 4, 42, 58, 955093)),
 (Decimal('6'), '{“license_id”:“8541866bb3a4c4ecf070b2c1b2f7bb9c0934d287”,“role”: “admin”,“status”: “active”}', datetime.datetime(2022, 10, 30, 21, 33, 46, 353060), datetime.datetime(2022, 10, 30, 21, 33, 46, 353060)),
 (Decimal('35'), '{“license_id”:“60831f59a531eef325e525ad58bae0e5e8c2d75a”,“role”: “developer”,“status”: “disabled”}', datetime.datetime(2021, 3, 26, 2, 38, 2, 136033), datetime.datetime(2022, 7, 21, 23, 3, 29, 862040))]

## Question 1:

Based on the table design above, what are your initial thoughts about DogDB’s data tracking? What are some of the advantages (if any) of their data models, and what are the shortcomings (if any) you foresee in DogDB’s future?

### Answer:

The current model of DogDB does an adequate job of capturing the basic needs of the organization to determine who their customers are, how their interactions are managed, and which accounts have an attributed license.  There is an `account_id` featured in each table for simple joins between the data for analysis.

However, there exist several deficiencies I see as the Analytics Engineer responsible for managing the health of the ecosystem:

1. **Issues with Primary Keys** Primary Keys are lacking on the `Customer Interactions` and `Customer Licenses` tables.  This is integral to the cardinality of these tables.  Without a unique identifier in these tables, you could end up with duplicate entries, which could throw off analytic aggregations and counts.  Modern SQL platforms also include optimizations for query indexing on primary keys that could improve the speed of joins and aggregations on the tables.


2. **Issues with Data Types** The `Customer Licenses` table's key information is formatted in a JSON blob, which is notoriously difficult for SQL to parse and access.  In this blob are key indicators, such as the licenses' `status`, and a `license_id` which should provide structured uniqueness to the table.  This is important for the business to understand _which customers have active or multiple licenses_ for features, billing, and access to services. 

3. **Issues with `account_id`** With the implication of desired scalability, the important identifier of `account_id` is a numerical integer which presumably increases with each entry.  For a fast-scaling organization, this is a short-sighted choice.  Key identifiers such as `account_id` should exist in an alphanumeric format that can be auto-incremented or prepare the column to be generated as the column's identity such as [this PostgreSQL example](https://www.postgresqltutorial.com/postgresql-tutorial/postgresql-identity-column/).


4. **Tables with Conflicting Purposes** In schema design, it's easy to create tables that can focus on solving multiple issues.  Here the `Customer Accounts` table attempts to manage the Customer uniqueness _and_ the pricing structure for that customer.  Pricing plans are an important distinguisher of customer status, and as such deserve their own table.  What if pricing needs to change in the future?  What if a customer wishes to upgrade or purchase new services?  These questions reveal the need for payment terms to be separated rather than tied to the `Customer Accounts` table.  Similarly, the `Customer Interactions` table should singularly manage the interactions with Customers while allowing service representatives to have their own table.  This allows more information to be collected on a per-ticket basis, while also allowing more information related to the service representative to exist elsewhere.  

Overall I believe the current structure of these tables could lead to inaccurate counts and analytics while also overloading tables with unrelated information.  This is a parallel issue to not being equipped to scale.  In the given example, scaling is an important factor for this data model, so efforts should be taken to ensure the key tables have room to breathe while also maintaining a clear delineation of responsibilities.

Below, I've utilized PostgreSQL to create new tables as I see their needs.

* `customer_accounts_new` now is entirely focused on Customer data
* `customer_pricing_plans` houses the Customer pricing plans with a numerical `monthly_charge` column to reflect prices in the prompt
* `customer_interactions_new` has its own Primary Key and allows Service reps to be in their own table
* `service_representatives` exists to track support agents that could leave the org or need more detail
* `customer_licenses_new` gains the most from breaking out the JSON data into their own columns, restoring its uniqueness with the `license_id` now becoming its primary key

***Author's Note:*** I have generated erroneous data to bridge the gaps in the provided dataset for usability and cohesion.  PostgreSQL's Foreign Key constraints requires data to exist in the relational tables, so I filled in the gaps by creating entries in the `customer_accounts_new` and `service_representatives` tables so future SQL joins could have data in the existing fields.

In [42]:
%sql select * from customer_accounts_new

 * postgresql://postgres:***@localhost:5432/dogdb
6 rows affected.

[(1, 'abc@123.com', 1, datetime.datetime(2019, 5, 1, 21, 13, 5, 156042), datetime.datetime(2019, 5, 1, 21, 13, 11, 804514)),
 (2, '123@abc.com', 2, datetime.datetime(2019, 7, 12, 16, 5, 2, 414454), datetime.datetime(2020, 1, 4, 17, 23, 5, 594305)),
 (3, 'hello@world.com', 3, datetime.datetime(2019, 7, 23, 12, 26, 47, 571431), datetime.datetime(2019, 9, 17, 4, 32, 32, 493065)),
 (6, 'ilovedogs@dogs.com', 1, datetime.datetime(2024, 1, 1, 21, 13, 11, 804514), datetime.datetime(2024, 1, 1, 21, 13, 11, 804514)),
 (7, 'fakedatarules@gophermail.com', 2, datetime.datetime(2024, 2, 16, 17, 23, 5, 594305), datetime.datetime(2024, 2, 16, 17, 23, 5, 594305)),
 (35, 'skidboot@heelermail.com', 3, datetime.datetime(2024, 3, 8, 4, 32, 32, 493065), datetime.datetime(2024, 3, 8, 4, 32, 32, 493065))]

In [46]:
%sql select * from customer_pricing_plans

 * postgresql://postgres:***@localhost:5432/dogdb
3 rows affected.

[(1, 'Free', Decimal('0'), datetime.date(2019, 7, 12), datetime.date(2019, 7, 12)),
 (2, 'Medium', Decimal('50'), datetime.date(2019, 7, 12), datetime.date(2019, 7, 12)),
 (3, 'Enterprise', Decimal('500'), datetime.date(2019, 7, 23), datetime.date(2019, 7, 23))]

In [43]:
%sql select * from customer_interactions_new

 * postgresql://postgres:***@localhost:5432/dogdb
4 rows affected.

[(1, 1, 'web', 'Tech Support', 1, 'resolved', datetime.datetime(2021, 1, 25, 19, 11, 35, 295813), datetime.datetime(2021, 1, 25, 19, 13, 52, 812371)),
 (2, 1, 'email', 'Billing', 2, 'open', datetime.datetime(2021, 4, 6, 22, 23, 9, 581234), None),
 (3, 3, 'web', 'Billing', 3, 'resolved', datetime.datetime(2021, 11, 13, 6, 25, 54, 821374), datetime.datetime(2021, 11, 15, 12, 19, 33, 882136)),
 (4, 7, 'phone', 'Account Change', 4, 'canceled', datetime.datetime(2022, 2, 14, 15, 2, 47, 219352), datetime.datetime(2022, 2, 20, 9, 22, 48, 145523))]

In [45]:
%sql select * from service_representatives

 * postgresql://postgres:***@localhost:5432/dogdb
4 rows affected.

[(1, 'andybotwin@dogdb.com', 'Andy', 'Botwin', datetime.date(2021, 1, 1), None),
 (2, 'jillianbelk@dogdb.com', 'Jillian', 'Belk', datetime.date(2021, 1, 1), None),
 (3, 'monicageller@dogdb.com', 'Monica', 'Geller', datetime.date(2021, 2, 1), None),
 (4, 'derek.hostetler@dogdb.com', 'Derek', 'Hostetler', datetime.date(2020, 3, 8), datetime.date(2023, 12, 25))]

In [47]:
%sql select * from customer_licenses_new

 * postgresql://postgres:***@localhost:5432/dogdb
4 rows affected.

[('d17cb11cda9ba249c22f67e4aed65d0f65f1a80c', 1, 'analyst', 'active', datetime.datetime(2022, 3, 12, 2, 56, 37, 652093), datetime.datetime(2022, 3, 12, 2, 56, 37, 652093)),
 ('be49ad8f4a68fbbdd1674b41da20759f54b0e930', 6, 'developer', 'active', datetime.datetime(2021, 5, 28, 4, 42, 58, 955093), datetime.datetime(2021, 5, 28, 4, 42, 58, 955093)),
 ('8541866bb3a4c4ecf070b2c1b2f7bb9c0934d287', 6, 'admin', 'active', datetime.datetime(2022, 10, 30, 21, 33, 46, 353060), datetime.datetime(2022, 10, 30, 21, 33, 46, 353060)),
 ('60831f59a531eef325e525ad58bae0e5e8c2d75a', 35, 'developer', 'disabled', datetime.datetime(2021, 3, 26, 2, 38, 2, 136033), datetime.datetime(2022, 7, 21, 23, 3, 29, 862040))]

## Question 2:

Every month, DogDB’s accountant receives a report from the engineering team to assist with accounting.  Customers on the medium tier are charged by credit card, but the accountant must know ahead of time what the expected charge will be. Customers on the enterprise tier are sent an invoice from DogDB.

Describe what the engineering team is most likely doing currently to support accounting in terms of process. Include the queries they are running if you think you can take a guess at what they are. What are some of the shortcomings of the current process?

### Answer:

here's the answer

In [ ]:
# here's the query
%%sql

## Question 3:

The customer service team has asked one of the data analysts to develop a dashboard to illustrate the monthly interaction volume of the accounts with the 10 highest number of active developer licenses. They are looking for various breakdowns by account, month, interaction channel, category, service representative, and interaction status

You have been tasked with designing a model to provide the data for the analyst. How would you structure the output? Include the query you would use to create the model.

### Answer:

here's the answer

In [ ]:
# here's the query
%%sql

## Question 4:

The analysts have been complaining that one of the view models created before you arrived is taking too long to run. This view is used in several dashboards across various business departments, and for ad hoc analyses on a regular basis.

What are the troubleshooting steps you would take to identify the problem? Based on experience you’ve had in the past, develop a hypothetical narrative for identifying what the problem is and then the steps to address fixing it.

### Answer:

In data transformation, the underlying performance of dashboards can become a critical area of focus for stakeholders and end users.  It is important to have recently refreshed data for teams to accurately monitor the performance of metrics, customer behavior and sales pipelines.  Therefore, the complaint should be taken quite seriously, as frustrastions with dashboard performance can stress the relationships between stakeholders and the Analytics team.  It is a priority to ensure that the visualizations and dashboards are performant to a reasonably high degree.  I would start by investigating the model's **materialization**, **transformations** and **higher order SQL functions**.

1. **Materialization**: Initially, I would ask why this underlying data set is materialized _as a view_ in the first place.  If this model has a wide, multi-team impact **and** regular use, I would advocate for the materialization of the view to instead be a **table**.  Not only would this ensure that the dataset can be regularly accessed with good performance, but the visualizations would be more efficient, working with existing (and hopefully cached) data rather than intermittently recreating the table in memory.  I can forsee situations where the **table** would take longer to be materialized initially, but it would better serve the use case of a widely and often used data model.  This can also reduce warehouse costs, both monetarily and temporally on the transformation and data warehouse side.

2. **Transformations**: Next, I would audit the view model's code and upstream tables to determine where aggregations and transformations happen.  These can be very computationally intensive for SQL servers, and it is important to transform your data as _far upstream as possible, and as near downstream as necessary_ as per [Roche's Maxim](https://segunakinyemi.com/blog/roches-maxim/).  If this view was transforming key tables together, often and without properly indexed joins, that would definitely negatively impact performance.  Or, if the view was created off of tables resulting from multiple, recurring upstream transformations, it could definitely hamper the speed at which the view could be created.  

3. **Higher Order SQL Functions**: Finally, I would review the model itself and determine what `group by`, `order by`, and `rank()` functions the view code utilizes.  Often these functions can abosrb many threads or resources of cloud computing that could not only slow this model but stymie other queued processes.  For example, if the model attempted a `rank()` function in the select statement, then utilized `order by` on a different field or index, the SQL compiler would have to work "double duty" to rank and reorder the data.  Similarly, multiple aggregations and groupings could exacerbate the view materialization's performance if not modeled correctly.

After reviewing these findings, I would discuss next steps with the end users who raised this performance issue.  While there is always _some_ transformational cost for models to materialize, these steps can alleviate time spent waiting for dashboards to load.  I would also request the stakeholders revisit their priorities in what the underlying data _is actually meant to display_.  

Simplifying the size of the data set to only include necessary columns, relevant rows and clean transformations could benefit **all users** of the dashboard by reducing the impact of the data set.  A good example would be a dashboard that's based off of a daily transaction table, but once a new business quarter arises, previous data is no longer relevant to this dashboard.

## Question 5:


Based on what you understand of DogDB so far, what would your first week at DogDB look like? What is your number one priority to try and change?

### Answer:

Based on my preliminary knowledge of DogDB, I believe my first week at DogDB would be continuing the work laid out in my answer to **Question 1** and refurbishing all our tables to include primary keys, a singlur purpose and ready for a [Kimball methodology of Facts and Dimensions](https://www.kimballgroup.com/data-warehouse-business-intelligence-resources/kimball-techniques/dimensional-modeling-techniques/).  This effort is to standardize the underlying tables for future scaling possibilities and ease of relational use.

However, in meeting with stakeholders, executives, and peers I would absolutely focus on the `customer_accounts_new` table as my main priority.  When preparing to report on scaling data capabilities, it is critical to focus on the shared language of investor communications, customers.  The following questions would be at the top of my expectations in reporting on our current customer base:

* What is the shared definition of a `DogDB` Customer that we can reliably standardize in our reporting?  
* Are these customers with active licenses?  Which licenses and roles do we expect our paying customers to be in ownership of?
* How many of our Customers are paying customers, and how do we know which current, non-paying customers can transition to paid pricing plan in the future?
* How can we tell if any of our customers are fraudulent, trial accounts, possible competitors or bad faith actors?  How would we track this?
* Which customers have the biggest impact on our revenue and which customers have the biggest impact on our customer interactions?  How do we measure this?

In my experience, these are key questions that lead to a cohesive understanding of our customer base with existing data.  Future tables can be built with this approach in mind, and ensures we build our data pipelines with a strong focus on customer retention, acquisition and data-driven attention without structural concerns of scale.