# Technical Takehome for ID.Me

Words Words


more words

In [32]:
# Python Packages for SQL ALchemy, PostgreSQL and ipython-sql
import sqlalchemy
import psycopg2 
from pgspecial.main import PGSpecial
%load_ext sql

engine = sqlalchemy.create_engine('postgresql://postgres:t!iv^8G@localhost:5432/dogdb')
%sql $engine.url

ModuleNotFoundError: No module named 'pgspecial'

In [21]:
#PostgreSQL Test
%sql select * from customer_accounts

 * postgresql://postgres:***@localhost:5432/dogdb
3 rows affected.

[(Decimal('1'), 'abc@123.com', 'Free', datetime.datetime(2019, 5, 1, 21, 13, 5, 156042), datetime.datetime(2019, 5, 1, 21, 13, 11, 804514)),
 (Decimal('2'), '123@abc.com', 'Medium', datetime.datetime(2019, 7, 12, 16, 5, 2, 414454), datetime.datetime(2020, 1, 4, 17, 23, 5, 594305)),
 (Decimal('3'), 'hello@world.com', 'Enterprise', datetime.datetime(2019, 7, 23, 12, 26, 47, 571431), datetime.datetime(2019, 9, 17, 4, 32, 32, 493065))]

In [22]:
%sql select * from customer_interactions

 * postgresql://postgres:***@localhost:5432/dogdb
4 rows affected.

[(Decimal('1'), 'web', 'Tech Support', 'Andy', 'resolved', datetime.datetime(2021, 1, 25, 19, 11, 35, 295813), datetime.datetime(2021, 1, 25, 19, 13, 52, 812371)),
 (Decimal('1'), 'email', 'Billing', 'Jillian', 'open', datetime.datetime(2021, 4, 6, 22, 23, 9, 581234), None),
 (Decimal('3'), 'web', 'Billing', 'Monica', 'resolved', datetime.datetime(2021, 11, 13, 6, 25, 54, 821374), datetime.datetime(2021, 11, 15, 12, 19, 33, 882136)),
 (Decimal('7'), 'phone', 'Account Change', 'Derek', 'canceled', datetime.datetime(2022, 2, 14, 15, 2, 47, 219352), datetime.datetime(2022, 2, 20, 9, 22, 48, 145523))]

In [23]:
%sql select * from customer_licenses

 * postgresql://postgres:***@localhost:5432/dogdb
4 rows affected.

[(Decimal('1'), '{“license_id”:“d17cb11cda9ba249c22f67e4aed65d0f65f1a80c”,“role”: “analyst”,“status”: “active”}', datetime.datetime(2022, 3, 12, 2, 56, 37, 652093), datetime.datetime(2022, 3, 12, 2, 56, 37, 652093)),
 (Decimal('6'), '{“license_id”:“be49ad8f4a68fbbdd1674b41da20759f54b0e930”,“role”: “developer”,“status”: “active”}', datetime.datetime(2021, 5, 28, 4, 42, 58, 955093), datetime.datetime(2021, 5, 28, 4, 42, 58, 955093)),
 (Decimal('6'), '{“license_id”:“8541866bb3a4c4ecf070b2c1b2f7bb9c0934d287”,“role”: “admin”,“status”: “active”}', datetime.datetime(2022, 10, 30, 21, 33, 46, 353060), datetime.datetime(2022, 10, 30, 21, 33, 46, 353060)),
 (Decimal('35'), '{“license_id”:“60831f59a531eef325e525ad58bae0e5e8c2d75a”,“role”: “developer”,“status”: “disabled”}', datetime.datetime(2021, 3, 26, 2, 38, 2, 136033), datetime.datetime(2022, 7, 21, 23, 3, 29, 862040))]

In [29]:
%%sql \d customer_accounts

 * postgresql://postgres:***@localhost:5432/dogdb

ImportError: pgspecial not installed

## Question 1:

```
Based on the table design above, what are your initial thoughts about DogDB’s data tracking? What are some of the advantages (if any) of their data models, and what are the shortcomings (if any) you foresee in DogDB’s future?
```

## Question 2:
```
Describe what the engineering team is most likely doing currently to support accounting in terms of process. Include the queries they are running if you think you can take a guess at what they are. What are some of the shortcomings of the current process?
```

## Question 3:

```
You have been tasked with designing a model to provide the data for the analyst. How would you structure the output? Include the query you would use to create the model.
```

## Question 4:

```
What are the troubleshooting steps you would take to identify the problem? Based on experience you’ve had in the past, develop a hypothetical narrative for identifying what the problem is and then the steps to address fixing it.
```

## Question 5:

```
Based on what you understand of DogDB so far, what would your first week at DogDB look like? What is your number one priority to try and change?
```

# Personal Review of Assignment